body {
  align-items: center;
}

body,
form,
label {
  display: flex;
  flex-direction: column;
}

label.radio-label, .checkbox-label {
  flex-direction: row;
}

form,
label {
  gap: 10px;
}

form {
  width: 50%;
  padding: 2%;
}

fieldset {
  border: 0;
  padding: 0;
}

label {
  margin-bottom: 5px;
}

legend {
  margin-bottom: 10px;
}

p {
    font-style: italic;
}
