body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px 40px 20px;
}

header, 
img,
div > input,
#pricing , 
#pricing > div,
#nav-bar,
#nav-bar > ul, footer  {
    width: 100%;
}

#form > h1 {
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    background: white;
}

#form {
    margin-top: 70px;
}

h1 {
    margin-top: 0;
}

ul {
    list-style: none;
}

#pricing {
    display: flex;
    justify-content: center;
    text-align: center;
}

#pricing > div > ul {
    padding: 0;
 }

header,
nav,nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
}

form, form > div {
    display: flex;
    flex-direction: column;
}

form > div {
    align-items: center;
    gap: 10px;
}


footer {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#footer-links {
    display: flex;
}

#submit {
    width: 170px;
}

img {
    max-width: 370px;
    margin-left: 60px;
}

div > input {
    max-width: 300px;
}

#pricing > div {
    max-width: 314px;
 }

#nav-bar {
    max-width: 400px;
}
#nav-bar > ul {
    padding: 0;
    margin-right: 60px;
}

footer > p {
    margin: 0;
 } 

@media  screen and (max-width: 750px) {
    #pricing {
        flex-direction: column;
    }

    #pricing {
        align-items: center;
    }

    header, #nav-bar > ul {
        display: flex;
        flex-direction: column;
    }

    #form {
        margin-top: 180px;
    }

    img {
        margin-left: 0;
    }

    #nav-bar > ul {
        margin-right: 0px;
    }

}
